*{
  padding: 0px;
  margin: 0px;
}
/*------------------------------------------------- Navbar-------------------------------------------------- */

.navbar{


  display: flex;
  justify-content: space-between;
  padding:13px;
  align-items: center;
  background: white;
}
.logo{
  font-size: 90px;
  color:crimson;
}
.logo-text{
  font-size: 30px;
  color:crimson;
  margin-left: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.items{
  display: flex;
  list-style: none;
  font-size: 15px;
}
.item{
  margin:0 10px;
  letter-spacing: .6px;
  text-transform: uppercase;

}
.item-link{
  text-decoration: none;
  color: rgb(188, 24, 35);
}
.item-link:hover{
  color: crimson;
  border-bottom:1.7px solid crimson;
}
.btn{
  padding:5px 24px;
  border:1.7px solid rgb(188, 24, 35);
}
.btn:hover{
  color: white;
  background-color:crimson;
  border:1.7px solid crimson;

}
.active{
  color: crimson;
  border-bottom:1.7px solid crimson;

}
.fa{
  size: 25px;
}


/*------------------------------------------------- page1--------------------------------------------------- */
#main-container{
  display: flex;
  height: 632px;
}
.main-container_grid-1{
  background-color: rgb(239, 239, 239);
  flex: 2;

}
.main-container_grid-2{
  background-color: rgb(188, 24, 35);
  flex: 1;
}

.main-container_grid-1-items{
  margin: 100px;
  font-size: 30px;
  width: 400px;
}
.btn{
  border: 2px solid rgb(188, 24, 35);
  background-color: rgb(188, 24, 35);
  border-radius: 20px;
  margin: 50px 0px 0px 0px;
  padding: 2px 4px 2px 4px;
  color: white;
  font-size: 30px;
}
#main-container-image{
  position: absolute;
  top: 150px;
  left: 700px;
  width: 600px;
  height: 520px;
  border-radius: 300px;
  box-shadow:grey;
}
/*-------------------------------------------------- page-2 ------------------------------------------------*/

#page-2{
  width: auto;
  display: flex;
  height: 645px;
  background-color: rgb(239, 239, 239)
}
.page-2-container1{
  flex: 1;
}
.page-2-container2{
  flex: 1;

}
.page-2-cotainer1-image{
  width: 600px;
  height: 500px;
  padding: 125px 0px 0px 50px;
}
.page-2-container-items{
  padding: 150px 100px 0px 0px;
  left:200px;
  font-size: 28px;
  width: 470px;

}
.page-2-container-items-para{
  font-size: 25px;
}
/*---------------------------------------------- page-3----------------------------------------------------- */
#page-3{

  height: 645px;
}

.page-3-container1{
  height: 350px;
  background-color: rgb(239, 239, 239);
  
}
.page-3-container2{
  height: 295px;
  background-color: rgb(188, 24, 35);

}
.card{
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: 280px;
}
.card-1{
  border: 2px solid yellow;
  top: 225px;
  left: 100px;
  position: relative;
}
.card-2{
  border: 2px solid yellow;
  top: -56px;
  left: 525px;
  position: relative;
}
.card-3{
  border: 2px solid yellow;
  top: -340px;
  left: 970px;
  position: relative;
}
.fas{
  color:crimson;
  padding: 10px;
}
.page-3-card-png-1{
  width: 185px;
  padding: 0px 0px 36px 26px;
}
.page-3-card-png-2{
  width: 180px;
  padding: 0px 0px 0px 26px;
}
.page-3-card-png-3{
  width: 135px;
  padding: 0px 0px 0px 40px;
}
.page-3-card-heading{
  text-align: center;
}
.fa-chevron-down{
  padding-left: 100px;
}

/* ------------------------------------------------------Page-4 ---------------------------------------------*/
.page-4-container1{
  height: 295px;
  background-color: rgb(188, 24, 35);

}

.page-4-container1-heading{
  color: white;
  font-size: 65px;
  text-align: center;
  padding: 70px 0px 60px 0px;
}
.page-4-container2{
  height: 350px;
  background-color: rgb(239, 239, 239);
}

.client-review-items{
  display: flex;
  margin: auto;
max-width: 1200px;
font-size: 19px;
text-align: center;
}
.client-review{
  margin: 20px;
  padding: 20px;
}
.page-4-image{
  width: 130px;
  height: 130px;
  border-radius: 100px;
}

.fa-star{
  color: yellow;
}
.client-review-heading{
  padding: 20px 10px 10px 10px;
  font-size: 32px;
}
.client-review-paira{
  font-size: 17px;
}
/*------------------------------------------------------- page-5 --------------------------------------------*/
.page-5-image{
  width: 480px;
  position: relative;
  top: 100px;
  left: 350px;

}

#page-5{
  display: flex;
  height: 650px;
}
.page-5-container1{
  background-color: rgb(188, 24, 35);
  flex: 1;
}
.page-5-image{
  border-radius: 370px;
  width: 400px;
  height: auto;
}
.page-5-container2{
  background-color: rgb(239, 239, 239);
  flex: 2;
}
.page-5-container-items{
  width: 400px;
  margin: auto;
  padding: 100px 0px;

}

.page-5-main-heading{
  font-size: 50px;
  padding: 20px 0px;
}
.page-5-heading{
  font-size: 30px;
  padding: 25px 0px 10px 0px;
}
.page-5-container-para{
  font-size: 20px;
}